.form-control {
    margin-top: 20px;
    width: 50%;

    & .form-header {
        padding: 10px 0px 30px 0px;
        text-align: center;
        font-size: 2rem;
        border-bottom: 6px solid rgb(110, 109, 109);
    }

    & .form-content {
        font-size: 2rem;
        display: flex; 
        border-bottom: 6px solid rgb(110, 109, 109);

        & .content-area {
            width: 70%;
            height: 350px;
            border-right: 6px solid #cecece;

            & span {
                display: inline-block;
                padding: 1rem;
            }
        }

        & .btn-area {
            width: 30%;
            text-align: center;

            & button {
                background-color: #696969;
                font-size: 2rem;
                color: #fff;
                margin-top: 1rem;
                width: 80%;
                padding: 0px 10px;
                cursor: pointer;
            }
        }
    }

    & .form-footer {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin-top: 30px;

        & input {
            width: 60%;
            height: 2rem;
            padding: 10px;
            border: 1.5px solid #000;
            font-size: 1.8rem;
            margin-right: 1.5rem;
        }

        & button {
            background-color: #696969;
            font-size: 2rem;
            color: #fff;
            width: 26%;
            height: 3.6rem;
            padding: 0px 10px;
            cursor: pointer;
        }
    }
}

.form-control:first-child {
    border-right: 4px solid rgb(110, 109, 109);
}