<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senier.ui.persistence.LoginMapper">
    <select id="" parameterType="com.myapp.senier.model.DataModel" resultType="int">
        SELECT 
            count(*)
        FROM
            TB_USER
        WHERE
            ID=#{id}
            PASSWD=#{pw}
    </select>
</mapper>