<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senier.ui.persistence.LoginMapper">
    <select id="loginProc" parameterType="com.senier.ui.model.DataModel" resultType="int">
        SELECT 
            count(*)
        FROM
            TB_USER
        WHERE
            UID=#{uid} AND PASSWD=#{pw}
    </select>

    <select id="getUserInfo" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT 
            UID as "uid",
            PASSWD as "pw",
            AUTH as "authCd",
            TEL_NUM as "telNum",
            NAME as "name",
            EMAIL as "email",
            USE_CL as "useCl"
        FROM
            TB_USER
        WHERE
            UID=#{uid}
    </select>

    <update id="updateUser" parameterType="com.senier.ui.model.DataModel">
        UPDATE TB_USER
        SET PASSWD = #{pw}
        WHERE UID = #{uid}
    </update>

</mapper>