<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senier.ui.persistence.MainMapper">
    <select id="getUserAuthentication" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT
            u.UID as "uid",
            c.DESC1 as "description"
        FROM
            TB_USER u
        INNER JOIN 
            TB_CODE c ON u.AUTH = c.CODE_CL
        WHERE
            u.USE_CL = '1' AND u.UID=#{uid} AND u.AUTH=#{auth};
    </select>

    <select id="getHomeDashboard" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT 
            SERVICE_CD as serviceCd,
            SUM(A.SUCCESS_FLG) as cnt,
            1 as week
        FROM TB_SMS_SEND_HISTORY A
        JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
        WHERE A.SEND_DT BETWEEN #{date} AND #{date}+6
        GROUP BY SERVICE_CD

        UNION ALL

        SELECT 
            SERVICE_CD as serviceCd,
            SUM(A.SUCCESS_FLG) as cnt,
            2 as week
        FROM TB_SMS_SEND_HISTORY A
        JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
        WHERE A.SEND_DT BETWEEN #{date}+7 AND #{date}+13
        GROUP BY SERVICE_CD

        UNION ALL

        SELECT 
            SERVICE_CD as serviceCd,
            SUM(A.SUCCESS_FLG) as cnt,
            3 as week
        FROM TB_SMS_SEND_HISTORY A
        JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
        WHERE A.SEND_DT BETWEEN #{date}+14 AND #{date}+20
        GROUP BY SERVICE_CD

        UNION ALL

        SELECT 
            SERVICE_CD as serviceCd,
            SUM(A.SUCCESS_FLG) as cnt,
            4 as week
        FROM TB_SMS_SEND_HISTORY A
        JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
        WHERE A.SEND_DT BETWEEN #{date}+21 AND #{date}+27
        GROUP BY SERVICE_CD

        UNION ALL

        SELECT 
            SERVICE_CD as serviceCd,
            SUM(A.SUCCESS_FLG) as cnt,
            5 as week
        FROM TB_SMS_SEND_HISTORY A
        JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
        WHERE A.SEND_DT BETWEEN #{date}+28 AND #{date}+31
        GROUP BY SERVICE_CD
    </select>

</mapper>