<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senier.ui.persistence.MainMapper">

    <select id="getUserAuthentication" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT
            u.UID as "uid",
            c.DESC1 as "description"
        FROM
            TB_USER u
        INNER JOIN 
            TB_CODE c ON u.AUTH = c.CODE_CL
        WHERE
            u.USE_CL = '1' AND u.UID=#{uid} AND u.AUTH=#{auth}
    </select>

    <select id="getHomeDashboard" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT *
        FROM(
            SELECT *
            FROM (
                SELECT 
                    SERVICE_CD as serviceCd,
                    SUM(A.SUCCESS_FLG) as cnt,
                    1 as week
                FROM TB_SMS_SEND_HISTORY A
                JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
                WHERE A.SEND_DT BETWEEN #{date} AND #{date}+7 AND B.USE_CL = '1'
                GROUP BY SERVICE_CD

                UNION ALL 

                SELECT 
                    SERVICE_CD as serviceCd,
                    0 as cnt,
                    1 as week
                FROM TB_LISTENING_SERVERS
                WHERE USE_CL = '1'
            ) TBL
            GROUP BY serviceCd

            UNION ALL

            SELECT *
            FROM (
                SELECT 
                    SERVICE_CD as serviceCd,
                    SUM(A.SUCCESS_FLG) as cnt,
                    2 as week
                FROM TB_SMS_SEND_HISTORY A
                JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
                WHERE A.SEND_DT BETWEEN #{date}+8 AND #{date}+15 AND B.USE_CL = '1'
                GROUP BY SERVICE_CD

                UNION ALL 

                SELECT 
                    SERVICE_CD as serviceCd,
                    0 as cnt,
                    2 as week
                FROM TB_LISTENING_SERVERS
                WHERE USE_CL = '1'
            ) TBL
            GROUP BY serviceCd

            UNION ALL

            SELECT *
            FROM (
                SELECT 
                    SERVICE_CD as serviceCd,
                    SUM(A.SUCCESS_FLG) as cnt,
                    3 as week
                FROM TB_SMS_SEND_HISTORY A
                JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
                WHERE A.SEND_DT BETWEEN #{date}+16 AND #{date}+23 AND B.USE_CL = '1'
                GROUP BY SERVICE_CD

                UNION ALL 

                SELECT 
                    SERVICE_CD as serviceCd,
                    0 as cnt,
                    3 as week
                FROM TB_LISTENING_SERVERS
                WHERE USE_CL = '1'
            ) TBL
            GROUP BY serviceCd

            UNION ALL

            SELECT *
            FROM (
                SELECT 
                    SERVICE_CD as serviceCd,
                    SUM(A.SUCCESS_FLG) as cnt,
                    4 as week
                FROM TB_SMS_SEND_HISTORY A
                JOIN TB_LISTENING_SERVERS B USING(SERVICE_CD)
                WHERE A.SEND_DT BETWEEN #{date}+24 AND #{date}+30 AND B.USE_CL = '1'
                GROUP BY SERVICE_CD

                UNION ALL 

                SELECT 
                    SERVICE_CD as serviceCd,
                    0 as cnt,
                    4 as week
                FROM TB_LISTENING_SERVERS
                WHERE USE_CL = '1'
            ) TBL
            GROUP BY serviceCd
        ) RSLT
        WHERE serviceCd IN (#{ZABBIX}, #{POSTMAN}, #{SEFILCARE}, #{CHECK_SERVER})
    </select>

    <select id="getSynthesisGraph" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT *
        FROM TB_LISTENING_SERVERS
    </select>

    <select id="getCheckServerGraph" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT 
            CASE WHEN (LOG_TYPE != 401)
                THEN 'other' 
                ELSE LOG_TYPE 
            END as logType,
            cnt
        FROM(
            SELECT TRIM(REGEXP_REPLACE(LOG_TYPE, '[a-zA-Z]', '')) as LOG_TYPE, COUNT(*) as cnt
            FROM TB_LOG_HISTORY L
            JOIN TB_LISTENING_SERVERS S USING(SERVICE_CD)
            WHERE S.USE_CL='1' AND L.SERVICE_CD='03' AND L.LOG_PRIORITY = 'CRITICAL'
            GROUP BY LOG_TYPE
        ) RSLT
    </select>

    <select id="getSefilCareGraph" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT *
        FROM TB_LISTENING_SERVERS
    </select>

    <select id="getZabbixGraph" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT *
        FROM TB_LISTENING_SERVERS
    </select>

    <select id="getLogStats" parameterType="com.senier.ui.model.DataModel" resultType="com.senier.ui.model.DataModel">
        SELECT 
            *,
            ROW_NUMBER() OVER() as no,
            0 as open
        FROM 
            (SELECT 
                SERVICE_CD as serviceCd,
                CASE
                    WHEN SERVICE_CD = '00' THEN 'Zabbix'
                    WHEN SERVICE_CD = '01' THEN 'Postman'
                    WHEN SERVICE_CD = '02' THEN 'Sefilcare'
                    WHEN SERVICE_CD = '03' THEN 'CheckServer'
                END as serviceNm,
                LOG_SEQ as logSeq,
                LOG_PRIORITY as status,
                LOG_TYPE as logType,
                DATE_FORMAT(CONCAT(LOG_DT, LOG_TM), '%Y-%m-%d %H:%i:%s') as date, 
                TITLE as title,
                CONTENT as content
            FROM TB_LOG_HISTORY
            JOIN TB_LISTENING_SERVERS USING (SERVICE_CD)
            WHERE 
                USE_CL = '1'
            <if test="serviceCd != null and serviceCd != ''">
                AND SERVICE_CD=#{serviceCd}
            </if>
            <if test="status != null and status != ''">
                AND LOG_PRIORITY=#{status} 
            </if>
            <if test="startDt != null and startDt != ''">
                AND LOG_DT BETWEEN #{startDt} 
            </if>
            <if test="endDt != null and endDt != ''">
                AND #{endDt}
            </if>
            ORDER BY date desc, serviceCd asc
        ) RSLT
        WHERE serviceCd IN (#{ZABBIX}, #{POSTMAN}, #{SEFILCARE}, #{CHECK_SERVER})
    </select>

    <update id="authUpdate" parameterType="com.senier.ui.model.DataModel">
        UPDATE TB_USER
        SET AUTH = ( SELECT CODE_CL FROM TB_CODE WHERE DESC1 = #{authStr} )
        WHERE UID = #{uid}
    </update>

    <update id="deleteEmailAddr" parameterType="com.senier.ui.model.DataModel">  
        UPDATE TB_USER
        SET EMAIL = ''
        WHERE UID = #{uid}
    </update>

    <update id="addEmailAddr" parameterType="com.senier.ui.model.DataModel">
        UPDATE TB_USER
        SET EMAIL = #{email}
        WHERE UID = #{uid}
    </update>

    <update id="deleteTelNum" parameterType="com.senier.ui.model.DataModel">
        UPDATE TB_USER
        SET TEL_NUM = ''
        WHERE UID = #{uid}
    </update>

    <update id="addTelNum" parameterType="com.senier.ui.model.DataModel">
        UPDATE TB_USER
        SET TEL_NUM = #{tel}
        WHERE UID = #{uid}
    </update>
</mapper>